@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@Umbraco.Field("titleTag") | Arhus Web Developer Corporation </title>
    <meta name="description" content="@Umbraco.Field("metaDescription")">
    <meta name="keywords" content="@Umbraco.Field("metaKeywords")">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>

<body>



    @Umbraco.RenderMacro("mainMenu")
    <div class="container">
        @RenderBody()




    </div>

    <div class="footer fixed-bottom">
        @Umbraco.Field("footer", recursive: true)
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>